// Colors
$primary: #202020;
$secondary: #121212;
$white: #fff;
$black: #000;
$red: #ED3024;
$blue: #3137C9;

// Sizes
$sidebar-width: 300px;

// Orders
$z-index-sidebar: 1000;
$z-index-modal: 1010;
$z-index-header: 1000;

// Media
$tablet-bp: 991px;
$mobile-bp: 575px;