.add-post {
    margin-bottom: 3rem;
    box-shadow: 0 15px 25px rgba($black, .45);
    background-color: $secondary;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    &__form {
        display: flex;
        align-items: flex-end;
        &-actions {
            display: flex;
            width: 12rem;
            flex-shrink: 0;
            justify-content: flex-end;

            @include breakpoint($mobile-bp) {
                width: 9rem;
            }
        }
    }
    &__textarea {
        display: block;
        flex-grow: 1;
        overflow: hidden;
        height: 34px;
        font-family: inherit;
        font-size: 1.5rem;
        background-color: transparent;
        resize: none;
        border: none;
        color: $white;
        &::placeholder {
            color: #D2D2D2;
        }
    }
    &__file,
    &__send {
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: background-color .2s linear;

        @include breakpoint($mobile-bp) {
            width: 3.4rem;
            height: 3.4rem;
        }
    }
    &__file {
        background: #EBEBEB url("../images/add-photo.svg") center no-repeat;
        input {
            display: none;
        }
        &:hover {
            background-color: darken(#EBEBEB, 15%);
        }

        @include breakpoint($mobile-bp) {
            background-size: 18px;
        }
    }
    &__send {
        margin-left: 1.5rem;
        font-size: 0;
        color: transparent;
        background-color: $blue;
        background: $blue url("../images/add-send.svg") center no-repeat;
        &:hover {
            background-color: darken($blue, 15%);
        }

        @include breakpoint($mobile-bp) {
            background-size: 16px;
        }
    }

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}