.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: $white;
    background-color: $secondary;
    border: none;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    padding: 1.12em 2.1em;
    border-radius: 3em;
    transition: background-color .2s linear;
    &:hover {
        text-decoration: none;
    }
    &--red {
        background-color: $red;
        box-shadow: 0 7px 17px - 10px rgba($red, .3);
        &:hover,
        &:focus {
            background-color: darken($red, 15%);
        }
    }
    &--blue {
        background-color: $blue;
        box-shadow: 0 7px 17px - 10px rgba($blue, .3);
        &:hover,
        &:focus {
            background-color: darken($blue, 15%);
        }
    }
    &--rounded {
        border-radius: .41em;
    }
    &--sm {
        padding: .7em 1.25em;
    }
}