.nav {
    &__list {
        display: flex;

        @include breakpoint($tablet-bp) {
            flex-direction: column;
        }
    }
    &__item {
        position: relative;
        &:hover {
            .nav__link {
                background-color: $blue;
                text-decoration: none;
            }
            > .subnav {
                display: block;
            }
        }

        @include breakpoint($tablet-bp) {
            &:hover {
                .nav__link {
                    background: none;
                }
            }
        }
    }
    &__link {
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        padding: 1.4rem;
        line-height: 1.2rem;
        transition: background-color .2s linear;
        &.has-subnav {
            position: relative;
            padding-right: 3.5rem;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: 2px;
                transform: translateY(-50%);
                right: 1.35rem;
                display: block;
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: $white transparent transparent transparent;
            }
        }

        @include breakpoint($tablet-bp) {
            padding-left: 0;
            padding-right: 0;
            font-size: 1.6rem;
        }
    }
    &--mobile {
        display: none;
        margin: 3rem 0;
    }

    @include breakpoint($tablet-bp) {
        display: none;

        &--mobile {
            display: block;
        }
    }
}