.profile {
    margin-top: -5rem;
    &__avatar {
        display: block;
        width: 10rem;
        position: relative;
        height: 10rem;
        margin: 0 auto 2rem;
        border: 2px solid $white;
        box-shadow: 0 7px 20px rgba(0, 0, 0, .25);
        border-radius: 50%;

        @include breakpoint($tablet-bp) {
            width: 6.5rem;
            height: 6.5rem;
            margin-left: 0;
            position: absolute;
            left: 0;
        }
    }
    &__header {
        margin-bottom: 2rem;
        text-align: center;

        @include breakpoint($tablet-bp) {
            text-align: left;
            padding-top: 2rem;
            padding-left: 8rem;
        }
    }
    &__name {
        font-size: 1.8rem;

        @include breakpoint($tablet-bp) {
            font-size: 1.5rem;
        }
    }
    &__prof {
        font-size: 1.4rem;
        font-weight: 300;
        color: #DEDEDE;

        @include breakpoint($tablet-bp) {
            font-size: 1.2rem;
        }
    }
    &__text {
        padding: 3rem 0;
        margin: 3rem 0;
        font-size: 1.2rem;
        text-align: center;
        border-top: 1px solid #1C1C1C;
        border-bottom: 1px solid #1C1C1C;

        @include breakpoint($tablet-bp) {
            display: none;
        }
    }

    @include breakpoint($tablet-bp) {
        margin-top: -1rem;
        position: relative;
        border-bottom: 1px solid #1C1C1C;
    }
}