.comments {
    margin-top: 5rem;
    &__item {
        margin-bottom: 3rem;
        > .comments {
            padding-left: 3rem;
            margin-top: 3rem;

            @include breakpoint($mobile-bp) {
                padding-left: 1.5rem;
            }
        }
    }
    &__header {
        display: flex;
        margin-bottom: 1.5rem;
    }
    &__avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    &__author {
        padding-left: 1.5rem;
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 1.4;
    }
    &__name {
        color: $white;
        font-weight: 500;
    }
    &__pubdate {
        color: #757575;
    }
    &__text {
        font-size: 1.2rem;
        color: $white;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
    &__reply {
        color: $blue;
        border: none;
        cursor: pointer;
        padding: 0;
        line-height: 1.1;
        font-family: inherit;
        font-size: 1.2rem;
        background: none;
        &:hover {
            text-decoration: underline;
        }
    }
}