.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    background-color: rgba($black, .8);
    z-index: $z-index-modal;
    &.show {
        display: flex;
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 8rem;
        background-color: $primary;
        border-radius: 5px;
        transform: translateY(-50px);
        transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        opacity: 0;
        &--contact {
            padding-bottom: 2.5rem;
        }
        &--story {
            padding: 0;
            background: none;
        }

        @include breakpoint($tablet-bp) {
            padding: 5rem 5rem 3rem;
        }
    }

    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        padding: 0;
        background: none;
        opacity: .5;
        border: none;
        transition: transform .2s linear, opacity .2s linear;
        cursor: pointer;

        &:hover {
            transform: rotate(90deg);
            opacity: 1;
        }
    }
    &__video {
        display: block;
        margin: 0 auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
        color: #B2B2B2;
        font-size: 1.2rem;
        margin-top: 4rem;

        li {
            margin: 0 .5rem;
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}