.related {
    border-bottom: 1px solid #1C1C1C;
    padding-bottom: .5rem;
    &__list {
        display: flex;
        flex-wrap: wrap;
        &-item {
            width: 50%;
            margin-bottom: 2.5rem;

            @include breakpoint($mobile-bp) {
                width: 100%;
            }
        }
        &-title {
            font-size: 1.4rem;
            color: #F3EBA2;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            a {
                color: inherit;
            }
        }
        &-date {
            color: #828282;
            font-size: 1.2rem;
        }

        @include breakpoint($mobile-bp) {
            flex-direction: column;
        }
    }
}