.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin-bottom: 3rem;
    &__item {
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 5px 15px rgba($black, .2);
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: linear-gradient(to bottom, rgba($black, .8), rgba($black, 0) 50%, rgba($black, .8));
            top: 0;
            left: 0;
            z-index: 2;
        }
        &:hover {
            .stories__preview {
                transform: scale(1.3);
                transition-duration: 2s;
            }
        }
    }
    &__preview {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: scale(1.05);
        transition: transform 1s ease-in-out;
    }
    &__title,
    &__date {
        font-size: 1.2rem;
        color: $white;
        position: absolute; 
        z-index: 3;
        left: 0;
        width: 100%;
        padding: 1.4rem;
        line-height: 1.3;
    }
    &__title {
        top: 0;
    }
    &__date {
        right: 0;
        bottom: 0;
        text-align: right;
    }

    @include breakpoint($mobile-bp) {
        grid-template-columns: 140px 140px 140px;
        overflow: auto;
    }
}