.subnav {
    display: none;
    width: 165px;
    padding: .5rem 0;
    background-color: $blue;
    position: absolute;
    box-shadow: 0 6px 8px rgba($black, .20);
    top: 100%;
    border-radius: 0 0 5px 5px;
    left: 0;
    &__link {
        display: block;
        color: $white;
        font-size: 1.2rem;
        text-decoration: none;
        padding: .45rem 1.2rem;
        transition: background-color .2s ease-in-out;
        &:hover {
            background-color: darken($blue, 15%);
            text-decoration: none;
        }

        @include breakpoint($tablet-bp) {
            padding-left: 0;
            padding-right: 0;
            font-size: 1.5rem;

            &:hover {
                background: none;
            }
        }
    }

    @include breakpoint($tablet-bp) {
        position: static;
        width: 100%;
        padding-left: 1rem;
        background-color: transparent;
        box-shadow: none;
    }
}